body,html{
	font-size: 25px;
	margin: 0; padding: 0;
}

input{
	height: 35px;
	width: 100%;
	font-size: 20px;
	padding: 10px 0 10px 0;
}

#new-todo{
	display: inline-block;
}

#todo-table{
	width: 100%;
}

#todo-table th{
	background: #2196F3;
	color: #E3F2FD;
	padding: 5px;
	width: 50%;
}

#todo-table tbody tr td{
	padding: 10px;
	font-size: 18px;
}

#todo-table tbody tr td:last-child{
	text-align: center;
}

.todo-closed{
	color: #2196F3;
	text-decoration: line-through;
}